body{
	font-family: "Segoe UI";
}

.tabel_print table{
	width:95%;
	border-style: solid;
	border-width: 1px;
	text-align: left;
}

#kuitansi table{
	width:95%;
	border-style: none;
	text-align: center;
}

.tabel_print tr td {
	border-style: solid;
	border-width: 1px;
}

#top {
	width:600px;
}

#logo {
	padding-right:20px;
	float:left;
}

#pkm {
	display:inline-block;
	text-align:left;
    font-family: segoe ui bold;
    font-size: 28px;
    color:#000000;
}
#pkm2 {
	text-align:left;
    font-family: Brush Script MT;
    font-style: italic;
    font-size:26px;
    color:#000000;
}
.sigcontainer {
	width:600px;
}

.signature {
	float:right;
}

#signaturekesakitan {
	text-align:left;
}

#banner {
	border-bottom:3px solid;
}

#banner img {
	padding-bottom:10px;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;
   left:0;
}

#printhalaman{
	margin-left:100px;
}

#kembali {
	margin-left:120px;
}