#data-table {
   display: none;
   border: none;
   padding: 10px;
   border-spacing: 0px;
}
/* Containers */

#wrapper {
}

#figure {
   height: 420px;
   position: relative;
}

#figure ul {
   list-style: none;
   margin: 0;
   padding: 0;
   /*height: 45px;*/
}

.graph {
   height: 283px;
   position: relative;
}
.chart {
   margin-left: 50px;
}

/* Legend */

.legend {
   background: #f0f0f0;
   border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
   top: 325px;
   position: absolute;
   text-align: left;
   width: 100%;
}

.legend li {
   display: block;
   float: left;
   height: 20px;
   margin: 0;
   padding: 10px 20px;
   /*width: 120px;*/
}

.legend span.icon {
   background-position: 50% 0;
   border-radius: 2px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px;
   display: block;
   float: left;
   height: 16px;
   margin: 2px 10px 0 0;
   width: 16px;
}

.legend_box {
   margin: 10px;
}
/* x-axis */

.x-axis {
   bottom: -20px;
   color: #555;
   position: absolute;
   text-align: center;
   width: 100%;
   height: 50px;
}

.x-axis li {
   float: left;
   margin: 0 15px;
   padding: 5px 0;
   /*width: 76px;*/
}
/* y-axis */

.y-axis {
   color: #555;
   position: absolute;
   text-align: right;
   width: 100%;
}

.y-axis li {
   border-top: 1px solid #ccc;
   display: block;
   height: 62px;
   width: 100%;
}

.y-axis li span {
   display: block;
   margin: -10px 0 0 -60px;
   padding: 0 10px;
   width: 40px;
}
/* Graph bars */

.bars {
   height: 253px;
   position: absolute;
   width: 100%;
   z-index: 10;
}

.bar-group {
   float: left;
   height: 100%;
   margin: 0 15px;
   position: relative;
   /*width: 76px;*/
}
.bar {
   border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
   bottom: 0;
   cursor: pointer;
   height: 0;
   position: absolute;
   text-align: center;
   /*width: 24px;*/
}
/*
.bar.fig {
   margin-right: 26px;
   background-color: #000;
}

.bar.fig0 {
   left: 0;
}

.bar.fig1 {
   left: 26px;
}

.bar.fig2 {
   left: 52px;
}

.bar.fig3 {
   left: 78px;
}

.bar.fig4 {
   left: 104px;
}

.bar.fig5 {
   left: 130px;
}

.bar.fig6 {
   left: 156px;
}

.bar.fig7 {
   left: 182px;
}

.bar.fig8 {
   left: 208px;
}*/
/*
.bar span {
   background: #fefefe 0 100% repeat-x;
   border-radius: 3px;
   left: -8px;
   display: none;
   margin: 0;
   position: relative;
   text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
   width: 40px;
   z-index: 20;

   -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
   box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
}

.bar:hover span {
   display: block;
   margin-top: -25px;
}
*/
.barlabelbox {
   width: 400px;
   text-align: left;
}
.barlabel {
   text-align: center;
   border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
   /*left: -8px;*/
   /*display: none;*/
   bottom: 50px;
   left: -20px;
   margin: 0;
   position: relative;
   z-index: 20;
   display: inline-block;

   background: #fefefe;
   opacity: 0;
   padding: 3px 5px;

	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	-moz-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;

	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.bar:hover .barlabelbox .barlabel {
   opacity: 1;
}
/*
.fig0, .fig3, .fig6, .fig9 {
   background: #747474 0 0 repeat-y;
}

.fig1, .fig4, .fig7, .fig10 {
   background: #65c2e8 0 0 repeat-y;
}

.fig2, .fig5, .fig8, .fig11 {
   background: #eea151 0 0 repeat-y;
}
*/