#calBorder {
	border: 1px solid #DDD;
	border-radius: 3px;
	padding: 5px;
	color: #000;
}
#calBorder table{
	border: none;
	margin: 0px;
	border-radius: 0px;
	border-spacing: inherit;
	margin: inherit;
	overflow: auto;
}
#calBorder td {
	border: none;
	padding: 0;
}
#calBorder th {
	padding: 0;
}
.pilihtanggal {
	padding: 5px;
}