.nav_left .dropdown {
  position: absolute;
  margin-top: -29px;
  margin-left: 175px;
  float: left;
  display: none;
  background: #EEE;
}
.nav_left .dropdown ul {
	margin-left: 0px;
	padding-left: 0px;
}
.nav_left .dropdown ul li {
	padding: 3px 12px;
}
.nav_left:hover .dropdown {
    display: block;
}
.user_menu hr {
	margin: 0px; 
	border-top: 1px solid #DDD; 
	border-style: solid none none;
	height: 0;
}