.message-error{
    background-color: #FFDDDD;
    border-color: #CC9999;
    padding: 7px;
    padding-left: 7px;
    text-align: left;
    font-size: 8pt;
    line-height: 8pt;
    margin-left: 210px;
    margin-right: 160px;
    text-align: left;
}