#rekammedis li
.english {
    font-size: 0.9em;
    font-style: italic;
    color: #BBB;
}
fieldset {
    border-style: none;
}
textarea {
    background-color: #FFFFFF;
    color: #777777;
    font-family: Verdana, Arial,Helvetica,sans-serif;
    font-size: 9pt;
    margin: 3px 0 0;
}
.input_form {
    background-color: #FFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #555555;
    font-weight: normal;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.input_form:focus {
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(129, 129, 129, 0.44);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s; /* Firefox 4 */
    -webkit-transition: all 0.3s ease-in-out 0s; /* Safari and Chrome */
    -o-transition: all 0.3s ease-in-out 0s; /* Opera */
    -ms-transition: all 0.3s ease-in-out;
}
.input_form_disabled, input[readonly="readonly"], input[readonly="readonly"]:focus {
    /*background-color: #FAFAFA;*/
    border: none;
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #555555;
    font-weight: normal;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.message {
    border: none;/*1px solid;*/
    padding: 7px;

    text-align: center;

    border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;

    transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s; /* Firefox 4 */
    -webkit-transition: all 0.3s ease-in-out 0s; /* Safari and Chrome */
    -o-transition: all 0.3s ease-in-out 0s; /* Opera */
    -ms-transition: all 0.3s ease-in-out;
}
.message-green {
    background-color: #DDFFDD;
    border-color: #99CC99;
    color: #5B5;
}
.message-red {
    background-color: #FFDDDD;
    border-color: #CC9999;
    color: #B55;
}
.message-yellow {
    background-color: #FFFFDD;
    border-color: #FFCC44;
    color: #990;
}
.message-neutral {
    background-color: none;
    border: none;
}
.statslabel {
    display: block;
    margin: 10px 10px 0 20px;
    text-align: left;
}
.margin_left {
    margin-left: 40px;
}
.label {
    display: block;
    float: left;
    margin: 0 10px 0 20px;
    text-align: right;
    width: 170px;
}
.input {
    display: block;
    margin: 5px 10px 5px 0;
}
.input_birthday {
    display: block;
    margin-left: 210px;
    padding-bottom: 50px;
}
#place {
    display: block;
    margin: 0;
}
.p_form {
    display: block;
    float: left;
    margin: 6px 3px 6px 1px;
}
.p_message {
    margin: 7px auto;
    text-align: center;
}
.p_message_eng {
    font-style: italic;
}
#p_birthday_comma {
    display: block;
    float: right;
    margin-left: 130px;
}
#name_form {
    width: 325px;
}
#country_form {
    width: 190px;
}
.address_form {
    height: 100px;
    max-height: 250px;
    max-width: 480px;
    min-height: 90px;
    min-width: 350px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.content_form {
    height: 100px;
    min-width: 750px;
    max-width: 750px;
    min-height: 150px;
    margin-top: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.dropdown_form {
    margin-top: 5px;
}
.sex_form {
    margin-top: 0;
    vertical-align: middle;
}
.birthday_form {
    float: left;
    margin-left: 3px;
    margin-right: 10px;
}
#birth_place_form {
    width: 190px;
}
.row:hover .note, .row:focus .note, .row:active .note {
    visibility: visible;
    opacity: 1;

    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s; /* Firefox 4 */
    -webkit-transition: all 0.3s ease-in-out 0s; /* Safari and Chrome */
    -o-transition: all 0.3s ease-in-out 0s; /* Opera */
    -ms-transition: all 0.3s ease-in-out;
}
.note {
    color: #777;
    font-size: 8pt;
    line-height: 8pt;
    margin-left: 210px;
    text-align: left;
    visibility: hidden;
    width: auto;
    opacity: 0;
}
.required {
    color: #FF0000;
}
.eng {
    line-height: 5px;
}
#submit {
    margin: auto;
    width: 206px;
}
.submit_button {
    width: 100px;
}
.popup {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    text-align: center;
}
.popup:target {
    opacity:1;
    pointer-events: auto;
}
.popup .message {
    width: 400px;
    margin: auto;
}
.popup h3, .popup .title {
    margin: 5px auto 15px ;
}
.popup .whitespace {
    height: 10px;
}
#select_mahasiswa, #select_mahasiswa2, #select_mahasiswa3, #select_mahasiswa4, #select_mahasiswa5, #select_umum, #select_karyawan {
    display: none;
}
.message-error1{
    background-color: #FFDDDD;
    border-color: #CC9999;
    padding: 7px;
    padding-left: 7px;
    text-align: left;
    font-size: 8pt;
    line-height: 8pt;
    margin-left: 210px;
    margin-right: 160px;
    text-align: left;
}
form li label {
    float: none;
    display: inline-block;
    width: 170px;
}
form ul {
    padding: 0;
}
form li {
    display: block;
    margin: 20px auto;
    width: 100%;
    font-family: Verdana;
}
legend {
    font-weight: bold;
}
form ul textarea {

    background-color: #FFFFFF;
    color: #777777;
    font-family: Verdana, Arial,Helvetica,sans-serif;
    font-size: 9pt;
    margin: 3px 0 0;
    height: 100px;
    max-height: 250px;
    max-width: 480px;
    min-height: 90px;
    min-width: 350px;
    padding-bottom: 8px;
    padding-top: 8px;
}
form ul input:disabled {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #555555;
    font-weight: normal;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}


center form li {
    text-align: left;
}
center form li label {
    width: 270px;
    text-align: left;
    vertical-align: top;
}

#rekammedis li {
    text-align: left;
}
#rekammedis li label {
    width: 170px;
    text-align: right;
    vertical-align: top;
    display: inline-block;
    margin-right: 14px;
    margin-top: 4px;
}


.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}
.form-horizontal .control-group {
    margin: 10px auto;
}
.form-horizontal .control-group:after {
  clear: both;
}

.form-horizontal .control-label {
  float: left;
  width: 170px;
  text-align: left;
  margin: 4px 10px 0 20px;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
  margin-top: 9px;
}

.form-horizontal .controls:first-child {
  *padding-left: 180px;
}

.form-horizontal .help-block {
  margin-bottom: 0;
}

.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {
  margin-top: 10px;
}

.form-horizontal .form-actions {
  /*padding-left: 180px;*/
}
.control-group input, .isi input, .control-group textarea {
    display: block;
    margin: 5px 10px 5px 0;
    /*background-color: #FAFAFA!important;*/
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #555555;
    font-weight: normal;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.control-group input:focus, .isi input:focus, .control-group textarea:focus {
    background-color: #FFFFFF!important;
    box-shadow: 0 0 5px rgba(129, 129, 129, 0.44);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s; /* Firefox 4 */
    -webkit-transition: all 0.3s ease-in-out 0s; /* Safari and Chrome */
    -o-transition: all 0.3s ease-in-out 0s; /* Opera */
    -ms-transition: all 0.3s ease-in-out;
}
.control-group input.disabled, .isi input.disabled, .control-group textarea.disabled  {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #555555;
    font-weight: normal;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.form-actions {
    background: transparent!important;
}

.isi table, .isi td {
    border: none;
    text-align: left;
}

.helper {
    padding-left:10px;
    color: #444444;
    font-size: 10px;
}

.formlabel {
    text-align:left;
}

.datarekam {
    margin:0px auto;
}

#rinciancontent ul li {
    margin-top:20px;
}

.tabel_laporan{
    margin:0px auto;
}

.tabel_keuangan{
    width:900px;
    overflow-x:scroll;
}

input[type="file"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}

.select2-container.idpasien {
    display: block;
}
.row.push170 {
    margin-left: 170px;
}
input.long300 {
    width: 300px;
}