/*
  #1ABB9B - bright
  #1ABB9B - flat

 */

body {
    background-color: #FFFFFF;
    color: #777777;
    font-family: Verdana, Merriweather Sans,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
}
a {
    color: #555555;
    text-decoration: none;
}
a.content {
    color: #0066FF;
}
h1 {
    color: #888888;
    font-family: Arial,Helvetica,sans-serif,Verdana;
    font-size: 24px;
    /*height: 40px;*/
    letter-spacing: -2pt;
    line-height: 32px;
    margin: 15px 15px;
}
h2 {
    margin: 15px;
}
.total-gate-open {
    font-size: 0.8em;
    text-transform: lowercase;
}
article {
    margin-bottom: 40px;
    max-width: 800px;

    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s; /* Firefox 4 */
    -webkit-transition: all 0.3s ease-in-out 0s; /* Safari and Chrome */
    -o-transition: all 0.3s ease-in-out 0s; /* Opera */
    -ms-transition: all 0.3s ease-in-out;
}
article p, article time {
    border-radius: 2px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
article p {
    text-indent: 50px;
    text-align: justify;
}
article h1 {
    margin: 10px 0;
    text-transform: none;
}
.p_content {
    font-family: Verdana;
    font-size: 9pt;
    font-weight: normal;
    line-height: 170%;
    margin-bottom: 10px;
    padding: 0 10px;
    text-align: justify;
}
.e_content {
    font-family: Verdana;
    font-size: 8pt;
    font-weight: normal;
    line-height: 150%;
    margin-bottom: 10px;
    padding: 0 10px;
    text-align: justify;
}
ol.list_content li a {
    color: #0066FF;
}
ol.list_content {
    font-family: Verdana;
    font-size: 9pt;
    font-weight: normal;
    line-height: 170%;
    margin-left: 50px;
    padding: 0 10px;
    text-align: justify;
}
ol.list_content li {
    margin-bottom: 10px;
}
ul.list_content {
    font-family: Verdana;
    font-size: 9pt;
    font-weight: normal;
    line-height: 170%;
    list-style-type: disc;
    margin-left: 50px;
    padding: 0 10px;
    text-align: justify;
}
.table_content {
    font-family: Verdana;
    font-size: 9pt;
    font-weight: normal;
    line-height: 170%;
    padding: 0 10px;
}
ul.list_content li {
    margin-bottom: 10px;
}
h1, h2, h5 {
    text-transform: uppercase;
}
h2 {
    /*font-size: 24pt;*/
    font-size: 13pt;
    letter-spacing: -1pt;
}
h3 {
    font-size: 13px;
    height: 22px;
    line-height: 22px;
}
h4 {
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bold;
    height: 10pt;
    line-height: 10pt;
    padding: 10px 10px 0;
    text-align: left;
}
h5 {
    font-size: 16pt;
    margin-top: 0;
}
.menu_button h3 {
    height: 24px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
}
.header {
    background-color: #EEEEEE;
    /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3); NEW*/
    height: 150px;
    margin: auto;
    width: 100%;
    min-width: 960px;
}
.header_bigbox {
    /*background-color: #00C40B;*/
    background-color: #1ABB9B;
    min-width: 960px;
    width: 100%;
}
.logonheader {
    overflow: hidden;
}
.header_pkm {
    margin-left: auto;
    margin-right: auto;
    height: 95px;
    padding: 0px 18px 0px 105px;
    /*
    -webkit-border-radius: 20px 0px 20px 0px;
    -moz-border-radius: 20px 0px 20px 0px;
    border-radius: 20px 0px 20px 0px;
    NEW */
}
.logo-bg {
    background: none repeat scroll 0 0 #333333;
    float: left;
    height: 100px;
    width: 95px;
}
.logoui {
    width: 95px;
    height: 95px;
    /*margin-left: 5px; NEW*/
    float: left;
    background:  url("../image/makaraui.png") no-repeat transparent;
}
.pkm, .sitrasi, .ui {
    text-transform: none;
    margin: 0px;
    color: #FFF;
}
.pkm {
    padding-top: 30px;
    margin-bottom: 0px;
    line-height: 20px;
}
.ui {
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: normal;
    
}
.sitrasi {
    font-family: Arial;/*Verdana; NEW*/
    font-size: 16px;
    letter-spacing: normal;
    font-weight: normal;
    color: #DDD;
}
.greenline {
    height: 5px; 
    /*background-color: #00E10C; BRIGHT*/
}
.greenline-dark {
    background-color: #008E08;
    width: 200px;
    float: left;
    height: 5px; 
    margin-left: 18px;
}
.greenline-light {
    background-color: #00AA33;
    width: 150px;
    float: left;
    height: 5px; 
}
.header_box {
    margin-left: auto;
    margin-right: auto;
    min-width: 960px;
    width: 96%;
}
.header_menu_main {
    background-color: #EEEEEE;
    height: 50px;
    min-width: 960px;
    width: 100%;
}
.drop {
    background-color: #FFFFFF;
    height: 10px;
    left: -999em;
    position: relative;
    width: 10px;
}
.user_menu {
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0px;
    /*max-height: 250px;
    overflow-y: scroll; NEW*/
}
.user_menu:hover {
    /*overflow-y: scroll;*/
}
.user_menu_1 {
    border: medium none transparent;
}
.user_nav {
    padding-top: 20px;
}
.menu {
    margin-bottom: 0;
    padding-left: 0;
}
.menu li a {
    display: block;
    padding: 13px;
}
.menu li a h3 {
    display: block;
}
.menu li:hover ul {
    background-color: #FF0000;
    height: auto;
    left: 0;
    padding: 0;
    position: relative;
    width: 140px;
}
h3.submenuh {
    font-size: 9pt;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
}
#dropline1 {
    background-color: #1ABB9B;
    height: 31px;
    width: 500px;
}
#dropline2 {
    background-color: #1ABB9B;
    height: 31px;
    width: 500px;
}
.menu li:hover li {
    background-color: #1ABB9B;
    color: #FFFFFF;
    float: left;
    height: 31px;
    left: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: left;
}
.menu li:hover li:hover {
    background-color: #01D035;
    color: #FFFFFF;
    height: 31px;
    left: 0;
    position: relative;
}
.menu li:hover li:hover h3 {
    color: #FFFFFF;
}
.search {
    float: right;
    font-weight: bold;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
#search_box {
    border: 1px solid #DDDDDD;
    border-radius: 0.5px;
    -webkit-border-radius: 0.5px; 
    -moz-border-radius: 0.5px;
    color: #555555;
    float: left;
    font-weight: normal;
    height: 26px;
    margin-right: 5px;
    transition: width 0.3s ease-in-out 0s;
    -moz-transition: width 0.3s ease-in-out 0s; /* Firefox 4 */
    -webkit-transition: width 0.3s ease-in-out 0s; /* Safari and Chrome */
    -o-transition: width 0.3s ease-in-out 0s; /* Opera */
    -ms-transition: width 0.3s ease-in-out;
    width: 120px;
}
#search_box:focus {
    background-color: #FFFFFF;
    width: 180px;
}
.search_button {/*
    float: right;
    font-weight: bold;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;*/
}
ul {
    height: inherit;
    list-style-type: none;
    margin-top: 0;
    vertical-align: middle;
}
li {
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
}
.menu_button {
    float: left;
    font-weight: bold;
    height: 50px;
    text-align: center;
}
.menu_button:hover {
    background-color: #159D81;
    /*box-shadow: 0 -5px 5px 1px #00AA00 inset;
    -moz-box-shadow: 0 -5px 5px 1px #00AA00 inset;
    -webkit-box-shadow: 0 -5px 5px 1px #00AA00 inset; NEW*/
    float: left;
    height: 100%;
}
.menu_button:hover h3 {
    color: #FFFFFF;
}
.menu_button:active {
    background-color: #12866F;/*#02CC00;*/
    /*box-shadow: 0 4px 5px 2px #00AA00 inset;
    -moz-box-shadow: 0 4px 5px 2px #00AA00 inset;
    -webkit-box-shadow: 0 4px 5px 2px #00AA00 inset; NEW*/
    float: left;
    height: 100%;
}
.menu_active {
    background-color: #1ABB9B;
    color: #888888;
    float: left;
    height: 100%;
    transition: all 0.1s ease-in-opt 0s;
    -moz-transition: all 0.1s ease-in-out 0s; /* Firefox 4 */
    -webkit-transition: all 0.1s ease-in-out 0s; /* Safari and Chrome */
    -o-transition: all 0.1s ease-in-out 0s; /* Opera */
    -ms-transition: all 0.1s ease-in-out;
}
#sitrasi:hover {
    background-color: #EEEEEE;
    box-shadow: 0 0 5px 2px #EEEEEE inset;
    -moz-box-shadow: 0 0 5px 2px #EEEEEE inset;
    -webkit-box-shadow: 0 0 5px 2px #EEEEEE inset;
}
#sitrasi:hover h3 {
    color: #02CC00;
}
#sitrasi:active {
    background-color: #EEEEEE;
    box-shadow: 0 0 5px 2px #EEEEEE inset;
    -moz-box-shadow: 0 0 5px 2px #EEEEEE inset;
    -webkit-box-shadow: 0 0 5px 2px #EEEEEE inset;
    float: left;
    height: 100%;
}
#event:hover h3, #competition:hover h3 {
    color: #FFFFFF;
}
#event:active, #competition:active {
    background-color: #1ABB9B;
}
#competition {
    width: 140px;
}
.header_menu_text {
    color: #888888;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.header_menu_sub_text {
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 6px;
    text-align: left;
    vertical-align: middle;
}
#animation1 {
    background-color: #EEEEEE;
    float: left;
    height: 40px;
    margin-left: 10px;
    width: 345px;
}
#animation2 {
    background-color: #EEEEEE;
    float: left;
    height: 40px;
    margin-left: 10px;
    width: 345px;
}
#animation {
    background-color: #EEEEEE;
    height: 40px;
    margin: 5px auto 0;
    width: 960px;
}
#main {
    height: 435px;
    margin-top: 5px;
    padding: 0;
    width: 960px;
}
#main_box {
    height: 370px;
}
.maskot_left {
    float: left;
    height: 300px;
    margin-left: 30px;
    margin-top: 30px;
    width: 350px;
}
#main_content {
    float: left;
    height: 400px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    width: 500px;
}
#atomic {
    color: #1ABB9B;
    text-align: center;
}
#atomic_compfest {
    height: 35px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    vertical-align: bottom;
    width: 960px;
}
#news {
    background-color: #1ABB9B;
    color: #FFFFFF;
    height: 80px;
    margin-top: 0;
    text-align: left;
    width: 960px;
}
#news_txt {
    padding-left: 10px;
    padding-top: 10px;
}
#body {
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    width: 100%;
}
.body_box {
    margin: auto;
    padding: 0;
    min-width: 960px;
    width: 96%;
}
.side_left {
    float: left;
    margin: 0px;
    margin-bottom: 30px;
    max-width: 200px;
    width: 20%;
    min-height: 400px;
    padding: 0px 10px;
}
.side_center {
    float: left;
    margin: 0;
    min-width: 690px;
    width: 75%;
    padding: 0 10px;
    margin-bottom: 40px;
}
.side_right {
    background-color: #DDDDDD;
    float: left;
    margin: 0;
    width: 180px;
}
.whitespace {
    height: 20px;
    position: relative;
    width: 100%;
}
.footer/*, .footer li*/ {
    background-color: #1ABB9B;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    clear: both;
    color: #FFFFFF;
    position: relative;
    width: 100%;
    min-width: 960px;

    /*box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.3); NEW*/
}
.footer_box {
    text-align: left;
    font-size: 9pt;
    margin: auto;
    padding-bottom: 5px;
    text-align: center;
    min-width: 960px;
    width: 100%;
    /*border-top: 5px solid #00E10C;*/
    /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05)*/
}
.footer_line {
    background-color: #179C16;
}
#twitter_widget {
    float: right;
    margin-top: 10px;
}
img, img a {
    border-style: none;
    border-width: 0;
}
#soc_med {
    float: right;
    width: 230px;
}
.c_main {
    margin: 20px auto auto;
    width: 960px;
}
.c_title {
    margin-bottom: 30px;
    text-align: center;
}
.c_maskotside {
    float: right;
    height: 350px;
    width: 350px;
}
.c_leftside {
    width: 590px;
}
.c_content {
    padding-bottom: 20px;
}
#controls {
    margin: 1em 0;
    text-align: center;
}
#controls a {
    background: none repeat scroll 0 0 #1ABB9B;
    border-radius: 50% 50% 50% 50%;
    color: #FFFFFF;
    display: inline-block;
    height: 15px;
    line-height: 32px;
    margin-right: 5px;
    text-decoration: none;
    width: 15px;
}
#controls a:hover {
    background: none repeat scroll 0 0 #999999;
}
#controls a:active, #controls a.selected {
    background: none repeat scroll 0 0 #888888;
}
.c_button_box {
    height: 50px;
    margin-top: 5px;
    width: inherit;
}
.c_button_text {
    text-align: center;
}
.c_button {
    background-color: #F0F0F0;
    border-color: #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    float: left;
    height: 40px;
    margin-right: 5px;
    margin-top: 5px;
    width: 200px;
}
.c_button:hover {
    border-color: #999999;
}
.c_button:active {
    border-color: #DD0000;
}
.nav_left h3 {
    height: 100%;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}
.nav_left {
    font-weight: bold;
    padding: 3px 8px 3px;
}
.nav_left:hover {
    background-color: #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    padding-left: 16px;

    transition: padding 0.2s ease-in-out 0s;
    -moz-transition: padding 0.2s ease-in-out 0s; /* Firefox 4 */
    -webkit-transition: padding 0.2s ease-in-out 0s; /* Safari and Chrome */
    -o-transition: padding 0.2s ease-in-out 0s; /* Opera */
    -ms-transition: padding 0.2s ease-in-out;

    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px;
    
    /*box-shadow: 0 0 4px 1px #BBBBBB inset;
    -moz-box-shadow: 0 0 4px 1px #BBBBBB inset;
    -webkit-box-shadow: 0 0 4px 1px #BBBBBB inset; NEW*/
}
.nav_left:hover h3 {
    color: #555555;
}
.nav_left:active {
    background-color: #BBBBBB;
}
.info_umum {
    border-top: 1px solid #BBB;
    font-size: 8pt;
    margin-top: 20px;
}
#login {
    width: 100%;
}
#login .input_form {
    font-weight: bold;
    color: #999;
    text-align: center;
    font-style: italic;
}
#login .input_form:active, #login .input_form:focus {
    font-weight: bold;
    text-align: left;
    color:#555;
    font-style: normal;
}
#login_label {
    font-size: 12pt;
    font-weight: bold;
    margin-left: 10px;
}
.login_box {
    width: 178px;
    font-weight: bold;
    text-align: center;
}
#username_box {
    margin-bottom: 2px;
    margin-top: 10px;
}
#password_box {
    margin-bottom: 5px;
}
/*.button {
    height: 30px;
}*/
#login_button {
    float: right;/*
    margin-right: 10px;
    width: 60px;*/
}
#logout_button {
    float: left;/*
    margin-right: 10px;
    width: 60px;*/
}
#register_button {/*
    margin-left: 9px;*/
    float: left;
}
.slider {
    background-color: #000000;
    background-image: url("../image/2.jpg");
    height: 338px;
    margin-top: 20px;
    width: 601px;
    margin: auto;
}
#caption {
    background-color: #000000;
    height: 50px;
    position: relative;
    top: 288px;
}
.related {
    margin: auto;
    padding-top: 20px;
    border: none;
}
.related a, .copyright  a {
    color: #FFF;
}
.related a:hover, .copyright  a:hover {
    color: #FF0;
}
.related td {
    width: auto;
    border: none;
    vertical-align: text-top;
    text-align: left;
    width: 180px;
    padding-right: 30px;
    padding-left: 30px;
}
.related ul {
    padding: 0;
}
.related li {
    margin-top: 7px;
}
.related .center {
    border-right: dotted 1px #12866F;/*#080 NEW;*/ 
    border-left: dotted 1px #12866F;/*#080 NEW;*/ 
}
.row {
    display: block;
    margin: 5px auto;
    width: 100%;
    font-family: Verdana;
}
.row_top {
    width: 100%;
    text-align: right;
    height: 38px;
}
.row_login {
    height: 30px;
}
.profil .row {
    display: inline-block;
}
.info_antrean_row {
    /*width: 500px;*/
    margin: 0;
    display: inline-block;
    padding: 0;
}
.info_antrean_row h3 {
    padding: 8px;
    margin: 0px;
    display: inline-block;
}
.info_antrean {
    float: right;
    margin: 0px;
    width: 384px;
    padding: 3px;
}
.info_antrean h3 {
    margin: 0px;
    text-align: center;
}
.jml_antrean {
    /*margin-right: 10px;*/
    background-color: #DDD;
    padding: 3px 10px 5px 10px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.jml {
    background-color: #DDD;
    margin: 0px;
    padding: 3px 10px 5px 10px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.jml h3 {
    margin: 0px;
}
.label_antrean {
    margin: 0px;
}
.antre_button {
    margin-right: 0px;
    display: inline-block;
}
#antre_button {
    padding-top: 4px;
    padding-bottom: 3px;
}
.button {
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 5px 7px;

    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px;
    border-radius: 2px;

    /*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2); NEW*/
}
.button:hover, .btn:hover {
    text-decoration: none;
}
.button:active, .btn:hover {
    position: relative;
    top: 1px;
}
.button:disabled, .button:disabled:hover {
    color: #FEF4E9;
    border: solid 1px #222;
    background-color: #999;
}
input.long {
    width: 120px;
}
.orange {
    color: #fef4e9;
    border: solid 1px #FFAA10;/*#DA7C0C; NEW*/
    background-color: #F78D1D;/*
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');*/
}
.orange:hover {/*
    background: #f47c20;*/
    background-color: #FFAA10;/*
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background-color: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');*/
}
.orange:active {
    color: #FCD3A5;
    background-color: #E36B10;/*
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background-color: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');*/
}
.green, .control-group .btn-primary {
    color: #FEF4E9;
    border: solid 1px #1ABB9B;
    background-color: #1ABB9B!important;
}
.green:hover, .control-group .btn-primary:hover {
    background-color: #1EE0B9!important;
}
.green:active, .control-group .btn-primary:active {
    background-color: #159D81!important;
}
.red {
    color: #FEF4E9;
    border: solid 1px #BA2B1A;
    background-color: #C40000;
}
.red:hover {
    border: solid 1px #BA2B1A;
    background-color: #DD0000;
}
.red:active {
    border: solid 1px #BA2B1A;
    background-color: #990000;
}
.row_poli {
    margin: auto;
    /*  width: 510px; */
}
.poli {
    border-radius: 3px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;

    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);

    width: 240px;
    text-align: center;

    margin: 5px;
    display: inline-block;
}
.poli .big {
    font-size: 5em;
    display: block;
    margin-top: -20px;
}
.poli_right {
    margin-right: 0px;
}
.poli_left {
}
.complete_news {
}
.remaining_news {
    opacity: 0; 
    height: 0;
    overflow: hidden;
}
.read_more {
    color: #66F;
}
.complete_news .whitespace {
    height: 0px;
}
.complete_news:target .whitespace {
    height: 30px;

    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s; /* Firefox 4 */
    -webkit-transition: all 0.5s ease-in-out 0s; /* Safari and Chrome */
    -o-transition: all 0.5s ease-in-out 0s; /* Opera */
    -ms-transition: all 0.5s ease-in-out;
}
.complete_news:target .remaining_news {
    opacity: 1;
    height: auto;

    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s; /* Firefox 4 */
    -webkit-transition: all 0.5s ease-in-out 0s; /* Safari and Chrome */
    -o-transition: all 0.5s ease-in-out 0s; /* Opera */
    -ms-transition: all 0.5s ease-in-out;
}
.complete_news:target .read_more {
    display: none;
}
.image {
    text-align: center;
    margin: 10px auto;
}
.leftside {
    width: 500px;
    float: left;
}
.rightside {
    width: 200px;
    float: right;
}
.rightside .image{
    margin-top: 60px;
}
.inlineblock, .inlineblock .input {
    display: inline-block;
}
.inline {
    display: inline;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.listpegawai, .listpegawai td {
    border: none;
    margin: 0;
    text-align: left;
}
.no-indent {
    padding: 0;
    text-indent: 0;
}
.verdana {
    font-family: Verdana;
}
.faq p{
    text-indent: 0;
}
.blue {
    color: #66F;
}
.center {
    margin: auto;
}
.medium {
    width: 200px;
}
.container {
    min-height: 500px;
}
.smaller {
    font-size: 0.9em;
}
.italic {
    font-style: italic;
}
.copyright {
    font-size: 8pt;
    color: #DDD;
}
.button_group {
    text-align: center;
}
.notification {
    border: 1px solid;
    text-align: center;
    margin-right: 7px;
    padding: 3px 10px 5px 10px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.star {
    color: red;
}
.table_button {
    font-size: 10px;
    margin: 1px;
    padding: 3px;
}
.page-header {
    margin: 0 !important;
}
.hide {
    display: none;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.link:hover, .link:focus {
    text-decoration: underline;
}
.softblue {
    color: #0052FF;
}
.showhide {
    text-decoration: underline;
}