
#tabs{ 
    padding:0; 
    margin:0; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:15px; 
    color:#FFF; 
    font-weight:bold; 
} 
#tabs ul{ 
    list-style:none; 
    margin:0; 
    padding:0; 
} 
#tabs ul li{ 
    display:inline; 
    margin:0; 
    text-transform:capitalize; 
} 
#tabs ul li a{ 
    padding:5px 16px; 
    float:left; 
    text-decoration:none; 
    margin:0; 
    text-transform:capitalize; 
    border: 1px solid #CCC;
} 
#tabs ul li a:hover{ 
    background:#EAEAEA; 
    color:#000; 
    text-decoration:none; 
} 
#tabs ul li a.active{ 
    background:#EAEAEA; 
    color:#000; 
} 
#content{    
    background:#EAEAEA; 
    clear:both; 
    font-size:11px; 
    color:#000; 
    padding:10px; 
    font-family:Arial, Helvetica, sans-serif; 
} 
.right-cont {
    float:right;
    margin-top: -20%;
}