.sipotek-index {
/**background-color: #2ba6cb;**/
	background-color: #3088b8;
        min-height: auto 100%;
}
.sipotek {
        min-height: auto 100%;	
}
div#header {
	margin-top: 80px;
	margin-left: 350px;
	margin-bottom: 50px;
}
div#user-area {
	margin-top: 10%;
        margin-left: 80%;
	background-color: #51aded;
        color: #F5FFF5;
        width: 18%;
	float: right;
	border-radius: 3px;	
	position: fixed;
}
div#login-area {
	background-color: #ffffff;
	margin-right: 120px;
	float: right;
	border-radius: 3px;	
}
div#header-login {
	background-color: #323a45;
	padding-top: 5px;
	padding-bottom: 0.25px;
	border-radius-top: 3px;
}
div#middle-login {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 30px;
	margin-right: 50px;
	border-radius: 3px;
}
div#middle-login2 {
	border-radius: 3px;
}
div#footer-login {
	background-color: #eeeeee;
	padding-top: 10px;
	padding-bottom: 2px;
	border-radius: 3px;
}
div#before-row {
	margin-top: 150px;
	background-color: #3088b8;
}

div#tableForm {
	margin: 20px 200px 0 130px;	
}
div#tableForm form label span{
	font-size: 10px;
	text-decoration: none;
}
div#tableForm form label span:hover{
	font-size: 10px;
	text-decoration:underline;
}
.container {
margin-right: 25%;
}
.top-bar2 {
    background-color: #323a45;
}
/*-------------------------- FOOTER MENU --------------------------*/
div#footer {
	background-color: #202226;
	color: #202226;
        height: 60px;
    position: relative;
    clear: both;

}
#wrap {
    height: 80%;
    min-height: 80%;
    margin: 0px auto -60px;
}
#wrap2 {
    height: auto 100%;
    min-height: 100%;
    min-height: 600px;
    bottom: 60px;
}
