.table_box {
    margin: 10px auto 0 0;
}
.table_box h2 {
    text-align: left;
    margin-bottom: 0px; 
}
.table_button_group {
    margin: 2px auto;
    display: inline-block;
}
table {
    border: 1px solid #D3D3D3;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-spacing: 0;
    margin: auto auto auto 0;
    margin-bottom: 20px;
    overflow: hidden;
}
table a:hover {
    text-decoration: underline;
}
table .row {
    margin: auto;
}
thead {
    font-size: 13px;
}
tfoot {
    background-color: #313131;
}
th, td {
    padding: 5px 10px;
    text-align: center;
}
th {
    background: none repeat scroll 0 0 #313131;
    color: #FFFFFF;
    padding-top: 22px;
    font-size: 14   px;
}
td {
    border-right: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
}
td.text-left {
    text-align: left;
}
td.text-right {
    text-align: right;
}
th.even-col {
    background-color: #3F3F3F;
}
tr:hover.inner-table, tr:hover.odd-row td {
    background-color: #A5F2E3;
}
tr.highlight {
    background-color: #D2F8F0;
}
tr:hover.last{
    background-color: #313131;
}
tr.odd-row td {
    background: none repeat scroll 0 0 #F6F6F6;
}
td.first, th.first {
    text-align: center;
}
td.last {
    border-right: medium none;
}
td {
}
tr.odd-row td {
}
th {
}
tr:first-child th.first {
}
tr:first-child th.last {
}
tr:last-child td.first {
}
tr:last-child td.last {
}
table .left {
    text-align: left;
}
.row form {
    display: inline;
}
/*.doctor{
width: 100%;
}*/

table.text-left td {
    text-align: left;
}