<span style='color: #000' title='Frames'>   164</span><span style='color: #009' title='Memory'>  15104.00 KB</span><span style='color: #900' title='Time'>    918.90 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />