.wow {
	position:relative;
	
}
div#kwitansi {
	border:solid;
	border-width:2px;
	border-color: black;
	font-family:"Lucida Sans";	
	width: 80%;	
	height: 100%;

}
div#header {
	border-width:1px;
	border-bottom: solid;
	border-color: black;	
	width: 100%;
	min-height:22%;
	height: auto;
}
div#logo {
	float: left;
	margin: 1% 2% 0 1%;
}
div#nama {
	float: left;
	margin-top: 3px;
}
div#alamat {
	border-width:1px;
	border-color: black;	
	float: left;
	width: 30%;
}
div#detil {
	float: left;
}
div#divtabel {
	width: 80%;	
	height:auto;
	margin: 1% 3% 0 1%;

}
.tabel {
	width: 100%;	
	border-collapse:collapse;
	height: auto;
	margin: 3% 3% 0 11%;
}
div#tanda-tangan {
	width: 80%;	
	margin-left: 10%;
}
div#penerima {
	float:left;
	border-bottom: solid;
	border-width:1px;
	border-color: black;		
	height: 20%;
	width: 30%;
}
div#pengirim {
	float:right;
	border-bottom: solid;
	border-width:1px;
	border-color: black;		
	height: 20%;
	width: 30%;
}
